name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    name: Unit Tests (Go ${{ matrix.go-version }})
    runs-on: ubuntu-latest

    strategy:
      matrix:
        go-version: ['1.23.x', '1.24.x']

    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
          cache: true

      - name: Run unit tests
        run: go test -v ./...

  race:
    name: Race Detector + Coverage
    runs-on: ubuntu-latest
    needs: test

    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.x'
          cache: true

      - name: Run race tests with coverage
        run: |
          go test -race -covermode=atomic -coverprofile=coverage.txt \
            -coverpkg=github.com/rohmanhakim/retrier/... \
            ./tests/...

      - name: Upload coverage
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.txt